<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{userAttr?.username | titlecase}}</ion-label>
    </ion-list-header>

    <ion-item color="light">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>Email: {{userAttr?.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>Phone: {{userAttr?.phone}}</ion-label>
    </ion-item>
    <ion-item color="light" [routerLink]="['/address']">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Dirección de envio</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/cart']">
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-item>

    <!-- <ion-item color="light" [routerLink]="['/giftcard']">
      <ion-icon name="gift-outline" slot="start"></ion-icon>
      <ion-label>Tarjetas De Regalo</ion-label>
    </ion-item> -->

    <ion-item color="light" [routerLink]="['/purchases']">
      <ion-icon name="bag-check-outline" slot="start"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-item>
    
    <!-- <ion-item color="light" [routerLink]="['/likes']">
      <ion-icon name="heart-outline" slot="start"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-item> -->
    <ion-item [routerLink]="['/settings']">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-item>
    <ion-item color="light" [routerLink]="['/help']">
      <ion-icon name="open-outline" slot="start"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
