<ion-header collapse="fade">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      <ion-icon name="search-circle-outline"></ion-icon>
      Buscar
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionClear)="clear()" (keyup.enter)="search($event.target)"  animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-list>
    <ion-list-header>
      Productos encontrados {{(products$ | async)?.length}}
    </ion-list-header>
    <product-item *ngFor="let item of products$ | async" [product]="item"></product-item>
    <app-empty-msg msg="no hay productos para mostrar" [trigger]="(products$ | async)?.length"></app-empty-msg>
  </ion-list>
</ion-content>
