<ion-item-sliding>

  

<ion-item >
  <ion-thumbnail slot="start">
    <img [src]="foto" alt="image">
  </ion-thumbnail>
  <ion-label>
    <h2>{{nombre}}</h2>
    <h2>Precio: RD {{precio | currency}} {{medida}}</h2>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="2.5">
        <ion-fab-button (click)="decQty()" color="dark" size="small">
          <ion-icon name="remove"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col size="3">
        <h2 class="qty">{{cantidad}}</h2>
      </ion-col>
      <ion-col size="2.5">
        <ion-fab-button (click)="incQty()" color="dark" size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-label>
</ion-item>

<ion-item-options slot="end">
  <ion-item-option (click)="remove()" color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
</ion-item-options>
</ion-item-sliding>